<div class="container-fluid">
	<div class="row">
		<div class="card-deck">
			<div class="card">
				<img class="card-img-top" src="https://placekitten.com/g/200/120" alt="WBI Helping Image">
				<div class="card-body">
					<h5 class="card-title">What is Westside Boiler Invasion?</h5>
					<p class="card-text">
					Westside Boiler Invasion (WBI) is a high school robotics team located in West Lafayette, IN, that competes in the FIRST® (For Inspiration and Recognition of Science and Technology) Robotics Competition (FRC). But more importantly Westside Boiler Invasion 461 is an amazing program that inspires students to do more with their lives. Through hands on work on robots, animations, websites, and other projects, team members learn the promise of science and technology fields.
					</p>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="https://placekitten.com/g/200/120" alt="WBI Helping Image">
				<div class="card-body">
					<h5 class="card-title">What is our mission?</h5>
					<p class="card-text">
					To inspire high school students to excel in the fields of technology and engineering, realizing their untapped potential.
					</p>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="https://placekitten.com/g/200/120" alt="WBI Helping Image">
				<div class="card-body">
					<h5 class="card-title">What is our vision?</h5>
					<p class="card-text">
					To develop into an influential force in order to spread the message of FIRST® beyond the boundaries of our high school and community.
					</p>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="https://placekitten.com/g/200/120" alt="WBI Helping Image">
				<div class="card-body">
					<h5 class="card-title">How do we change lives?</h5>
					<p class="card-text">
					FIRST® and Westside Boiler Invasion teach important technical knowledge, skills in management, and public relations to its members and community. Team involvement also strengthens students' life skills, particularly their organization, dedication, and capacity for hard work.
					</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">What do we do?</h4>
					<p class="card-text">
					The FIRST® and WBI programs attract the interest of students in the fields of science and technology. These organizations affect everyone involved, including teachers, advisors, sponsors, and the community. While involvement in FIRST requires a lot of work, the work pays back tenfold.
					</p>
					<p class="card-text">
					Each January, FIRST® announces the rules for the year's game. The high school team members work with engineers, teachers, and college advisors to design and construct a robot to play the game. Constructing the robot is a difficult task--each team gets merely six weeks to complete it, after which teams compete in regional and national competitions. Although the competition and the building of the robot take only a few weeks, Westside Boiler Invasion works throughout the entire year.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
