<div class="container-fluid">
	<div class="card-deck">
		<div class="card">
			<img class="card-img-top" src="/assets/driveTeam.jpg" alt="WBI Helping Image">
			<div class="card-body">
				<h5 class="card-title">What is Westside Boiler Invasion?</h5>
				<p class="card-text">
				Westside Boiler Invasion is a high school robotics team located in West Lafayette, IN, that competes in the FIRST® Robotics Competition. But more importantly, Westside Boiler Invasion 461 is a program that inspires students to do more with their lives.
				</p>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="/assets/brad1.jpg" alt="WBI Helping Image">
			<div class="card-body">
				<h5 class="card-title">What is our mission?</h5>
				<p class="card-text">
				Our mission is to inspire high school students to excel in the fields of technology and engineering, realizing their untapped potential.
				</p>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="/assets/another_tower_2016s.jpg" alt="WBI Helping Image">
			<div class="card-body">
				<h5 class="card-title">What is our vision?</h5>
				<p class="card-text">
				Our vision is to develop into an influential force in order to spread the message of FIRST® beyond the boundaries of our high school and community.
				</p>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="/assets/child_and_Haley.jpg" alt="WBI Helping Image">
			<div class="card-body">
				<h5 class="card-title">How do we change lives?</h5>
				<p class="card-text">
				FIRST® and Westside Boiler Invasion teach important technical, managerial, and public relations skills to their members and community. Team involvement also strengthens students' life skills, particularly their organization, dedication, and capacity for hard work.
				</p>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">What do we do?</h4>
					<p class="card-text">
					The FIRST® and WBI programs attract the interest of students in the fields of science and technology. These organizations affect everyone involved, including teachers, advisors, sponsors, and the community. While involvement in FIRST requires a lot of work, the work pays back tenfold.
					</p>
					<p class="card-text">
					Each January, FIRST® announces the rules for the year's game. The high school team members work with engineers, teachers, and college advisors to design and construct a robot to play the game. Constructing the robot is a difficult task--each team gets merely six weeks to complete it, after which teams compete in regional and national competitions. Although the competition and the building of the robot take only a few weeks, Westside Boiler Invasion works throughout the entire year.
					</p>
				</div>
			</div>
		</div>
	</div>
	</br>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Contact Us</h4>
					<div class="row justify-content-around">
						<div class="col-sm">
							<h5>Mailing Address</h5>
							<p class="card-text">
							Westside Boiler Invasion
							<br>PO Box 2734
							<br>West Lafayette, IN 47996</p>
							<h5>Meeting Address</h5>
							<p class="card-text">
							1201 Cumberland Ave.
							<br>Suite B100
							<br>West Lafayette, IN 47906</p>	
						</div>
						<div class="col-sm">
							<h5>Email</h5>
							<p class="card-text">Mentor Lead<br>[brad@boilerinvasion.org]</p>
							<p class="card-text">Donation and Sponsorship Lead<br>[donate@boilerinvasion.org]</p>
							<p class="card-text">Boosters Lead<br>[boosters-president@boilerinvasion.org]</p>
						</div>
						<div class="col-sm">
							<br>
							<p class="card-text">Student Lead<br>[president@boilerinvasion.org]</p>
							<p class="card-text">Outreach Lead<br>[outreach@bolierinvasion.org]</p>
							<p class="card-text">Purdue First Lead<br>[director@boilerinvasion.org]</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
