<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">The FIRST® Season</h4>
					<ul class="nav nav-tabs card-header-tabs" id="aboutFIRSTTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="aboutFRC-tab" data-toggle="tab" href="#aboutFRC" role="tab" aria-controls="aboutFRC" aria-selected="true">FIRST® Robotics Competition</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="aboutKickoff-tab" data-toggle="tab" href="#aboutKickoff" role="tab" aria-controls="aboutKickoff" aria-selected="false">Kickoff</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="aboutRegionalandDistrictEvents-tab" data-toggle="tab" href="#aboutRegionalAndDistrictEvents" role="tab" aria-controls="aboutRegionalAndDistrictEvents" aria-selected="false">Regional Events and District Events</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="aboutChampionshipEvent-tab" data-toggle="tab" href="#aboutChampionshipEvent" role="tab" aria-controls="aboutChampionshipEvent" aria-selected="false">Championship Event</a>
						</li>
					</ul>
				</div>
				<div class="tab-content" id="aboutFIRSTTabContent" role="tablist">
					<div class="tab-pane fade show active card-body" id="aboutFRC" role="tabpanel" aria-labelledby="aboutFRC-tab">
						<h4 class="card-title">FIRST® Robotics Competition</h4>
						<p class="card-text">
						The FIRST® Robotics Competition is, according to FIRST®, "a unique varsity sport of the mind designed to help high-school-aged young people discover how interesting and rewarding the life of engineers and researchers can be." Every year, every robotics team from around the United States, Canada, and other countries builds a robot to play a predetermined game using a standard "kit of parts" (issued to registered teams each January), a limited set of materials, and a little ingenuity and elbow grease. With this robot, the team travels to Regional Events, competing against one another in a fun, friendly atmosphere. Based on their performance at these competitions, teams may qualify to attend the Championship Event.
						</p>
						<p class="card-text">
						While the activity name seems to imply that the competition should be the main focus of FRC participants, FRC actually places an emphasis on "gracious professionalism," a phrase meaning acting in a manner that would make one's grandmother proud. Teams may face each other in qualifying and elimination matches, but that does not preclude them from offering their potential opponents assistance in programming a robot, building a new part, or repairing a damaged one. Reflecting this spirit, at FRC events, awards are given out not only to the winners, but to teams who have best demonstrated gracious professionalism, sportsmanship, and other notable qualities. A full listing of awards that can be won can be found here.
						</p>
						<p class="card-text">
						Since its inception in 1989, FRC has grown to encompass more than 1,600 teams representing multiple countries. Hundreds of new teams are added to the FRC family every year, competing in Regional Events held around the United States, Brazil, Canada, and Israel.	
						</p>
					</div>
					<div class="tab-pane fade card-body" id="aboutKickoff" role="tabpanel" aria-labelledby="aboutKickoff-tab">
						<h4 class="card-title">Kickoff</h4>
						<p class="card-text">
						While many teams, including Westside Boiler Invasion, begin planning the team's goals in the fall, the official FIRST® season begins in early January with the annual Kickoff. The event, held in Manchester, NH, and broadcast worldwide by NASA, announces the new game to the FRC community for the year. From the Kickoff, teams are given about six weeks to imagine, design, construct, and program their robots, using parts from the standard "kit of parts" given to each team. Teams may also use (and are encouraged to use) parts of their own fabrication.
						</p>
					</div>
					<div class="tab-pane fade card-body" id="aboutRegionalAndDistrictEvents" role="tabpanel" aria-labelledby="aboutRegionalAndDistrictEvents-tab">
						<h4 class="card-title">Regional Events and District Events</h4>
						<p class="card-text">
						After the robot is complete and bagged, teams relax for a week or so before attending one of 40 Regional Events held each week in March from Thursday through Saturday. In addition, Michigan, Mid-Atlantic, and Indiana teams have the opportunity compete in respective district events. The top half of the teams continue to the State Championship. Each competition, teams arrive the night before to unpack and inspect their robot. Teams are given this day to make any last-minute repairs or modification to their robots as well as compete in several practice rounds held throughout the day to test their six-week creation. Many teams also use the first day as an opportunity to scout other teams' robots in an attempt to learn the strongest competitor in attendance and adjust their own strategy accordingly.
						</p>
						<p class="card-text">
						Friday and Saturday are the main days of each Regional Event; indeed, often teams do not send their full contingent on Thursday, electing instead to bring the entire team to a competition on Friday. On Friday, following the opening ceremonies, teams assemble in predetermined alliances on the competition field to play that year's FRC game. Teams compete in "qualifying matches" throughout the day, changing alliances every round as they do, with each match gaining the winning alliance's teams "qualifying points" (two points for winning a match, no points for losing a match, and one point for tying a match"). Qualifying matches end in the evening, and all teams attend a partial awards ceremony followed by a social event.
						</p>
						<p class="card-text">
						On Saturday, teams continue to compete in qualifying matches until each team has played in an equal number of rounds, which can be anywhere from seven to eleven. The results are tabulated, and the eight teams with the highest number of qualifying points at the conclusion of the matches are brought onto the competition field to serve as "alliance captains." Each alliance captain, in order from first to eighth, selects another team ranked lower than themselves that they would like to ally with for the rest of the competition. The chosen team has the option of accepting or declining the offer; however, if the offer is declined, any other team for the rest of the competition may not choose that team. If the chosen team is another one of the eight alliance captains and accepts the offer of a higher-seeded captain to ally, then all of the teams are moved up one rank based on qualifying rankings; this can and has resulted in a previously unseeded team becoming an alliance captain. This process continues until each of the top eight alliances has one partner. The process then repeats, but the second time, the eighth-seeded alliance captain chooses an alliance partner first, and the first-seeded alliance captain does so last. The eight alliances of three teams each are then paired in an elimination bracket, and compete in a best-of-three-matches series. The team left standing after the final round wins the competition.</p>
					</div>
					<div class="tab-pane fade card-body" id="aboutChampionshipEvent" role="tabpanel" aria-labelledby="aboutChampionshipEvent-tab">
						<h4 class="card-title">Championship Event</h4>
						<p class="card-text">
						At the conclusion of the Regional Events, a roster is released for the Championship Event. Each team entered into the event is placed into one of four divisions of about 80 teams each: Archimedes, Curie, Galileo, and Newton. Teams can be entered into the Championship Event in a multitude of ways:
						</p>
						<p class="card-text">
						FRC Teams that registered in or before 1992, when the first Championship Event was held, are automatically eligible to enter so long as they remain active in FRC. All of the winners of Championship Chairman's Awards may enter. The winners of the previous year's Championship Event are automatically given a berth if they choose to accept it. The winners of the Championship Engineering Inspiration Award and Chairman's Award Honorable Mentions from the previous year are given a guaranteed spot on the Championship roster. The winning alliance from each Regional Event or the Michigan State Championship during the current competition season is given the chance to enter if they wish to do so. Each winner of a Regional Chairman's Award or a Chairman's Award at the Michigan State Championship from the current year has a reserved place in the FRC Championship Event. Each team receiving a Regional Engineering Inspiration Award or an Engineering Inspiration Award at the Michigan State Championship is given the opportunity to register for the Championship Event. The rookie team that receives the Rookie All-Star Award at a Regional or the Michigan State Championship will be allowed to enter the FRC Championship. The nine highest ranked Michigan teams after the Michigan State Championship that are not already qualified will be allowed to enter the FRC Championship. If a team does not qualify in the manners listed above, they can still enter the Championship by reserving an open slot on a first-come-first-served basis. Teams that did not attend the previous year's Championship Event are given first preference for the open slots after the above criteria have been fulfilled.
						</p>
						<p class="card-text">
						Teams compete in the same manner that they do at Regional Events, except only within their division as opposed to with all robots at the event. Alliance selection proceeds in the same manner as at Regionals, albeit with choices restricted to one's own division: the first-seeded team chooses an alliance partner, followed by the second-seeded team, etc., and the choosing of the second alliance partner proceeds in reverse order. At the conclusion of the following elimination matches, a division winner, rather than an overall competition winner, is determined in each of the four divisions.
						</p>
						<p class="card-text">
						The division-winning alliances then move to the next phase of the competition: matches on Einstein field. Having won their division, each alliance is entered into a semifinal match replete with tension as they compete to become the world champions of FIRST®. The winning alliance is crowned as the champion, receiving trophies, banners, and bragging rights.
						</p>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="col-md-4">
			<div class="card">
				<%= image_tag "2016_field.jpg", :class=>"card-img-top" %>
				<div class="card-body">
					<h4 class="card-title">About FIRST®</h4>
					<p class="card-text">
					FIRST®, or, "For Inspiration and Recognition of Science and Technology," was founded in 1989 by Dean Kamen to inspire young people's interest and participation in science and technology. Their mission, according to the FIRST® website, is to "inspire young people to be science and technology leaders, by engaging them in exciting mentor-based programs that build science, engineering and technology skills, that inspire innovation, and that foster well-rounded life capabilities including self-confidence, communication, and leadership."
					</p>
					<p class ="card-text">
					In 2016, the FIRST® Robotics around 75,000 students and 19,000 mentors participated from 24 countries. Of the 3,000 teams that built robots, the top 600 went to the worlds competition.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

