<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Contact Us</h4>
					<div class="row justify-content-around">
						<div class="col-sm">
							<h5>Mailing Address</h5>
							<p class="card-text">
							Westside Boiler Invasion
							<br>PO Box 2734
							<br>West Lafayette, IN 47996</p>
							<h5>Meeting Address</h5>
							<p class="card-text">
							1201 Cumberland Ave.
							<br>Suite B100
							<br>West Lafayette, IN 47906</p>
						</div>
						<div class="col-sm">
							<h5>Email</h5>
							<p class="card-text">Mentor Lead<br>[brad@boilerinvasion.org]</p>
							<p class="card-text">Donation and Sponsorship Lead<br>[donate@boilerinvasion.org]</p>
							<p class="card-text">Boosters Lead<br>[boosters-president@boilerinvasion.org]</p>
						</div>
						<div class="col-sm">
							<br>
							<p class="card-text">Student Lead<br>[president@boilerinvasion.org]</p>
							<p class="card-text">Outreach Lead<br>[outreach@bolierinvasion.org]</p>
							<p class="card-text">Purdue First Lead<br>[director@boilerinvasion.org]</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
