<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card" >
                <div class="card-body">
                    <h4 class="card-title">Closest Hospitals to Indiana Competition Venues</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card" href="https://www.google.com/maps/dir/Penn+High+School,+56100+Bittersweet+Rd,+Mishawaka,+IN+46545/Saint+Joseph+Health+System,+Holy+Cross+Parkway,+Mishawaka,+IN/@41.6916638,-86.1603965,14z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x8816cfebf290b6e5:0xabd56f9f013cb343!2m2!1d-86.1077188!2d41.6789166!1m5!1m1!1s0x8816d1f819dc902f:0x8a05821e0a35b2a3!2m2!1d-86.1741259!2d41.7065071!3e0">
                <img src="/safety/penn.png" class="card-img-top" width="305" height="210" />
                <div class="card-body">
                    <h4 class="card-title">St. Joseph</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" href="https://www.google.com/maps/dir/Jefferson+High+School/Unity+Healthcare/@40.4013051,-86.8427716,15.32z/data=!4m14!4m13!1m5!1m1!1s0x88131d11a9f34c9b:0x7de09fe731e7647!2m2!1d-86.8739658!2d40.3983386!1m5!1m1!1s0x88131c8df3bbf125:0x8f354d021e48d204!2m2!1d-86.8366851!2d40.3971156!3e0">
                <img src="/safety/jeff.png" class="card-img-top" width="305" height="210"  />
                <div class="card-body">
                    <h4 class="card-title">Tippecanoe</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" href="https://www.google.com/maps/dir/Center+Grove+High+School,+4800+Stones+Crossing+Rd+W,+Greenwood,+IN+46143/IU+Health+Physicians+Family+%26+Internal+Medicine+-+Methodist+Medical+Plaza+South,+South+Meridian+Street+%23200,+Indianapolis,+IN/@39.6068216,-86.2128226,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x886b61106a1d1381:0x7262c2e757a47dfd!2m2!1d-86.1953508!2d39.5759982!1m5!1m1!1s0x886b5c3725620981:0xaadbefffba83d500!2m2!1d-86.1593641!2d39.6379593!3e0">
                <img src="/safety/centergrove.png" class="card-img-top" width="305" height="210" />
                <div class="card-body">
                    <h4 class="card-title">Center Grove</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card" href="https://www.google.com/maps/dir/Memorial+Gymnasium,+East+Superior+Street,+Kokomo,+IN/St.+Vincent+Kokomo,+1907+W+Sycamore+St,+Kokomo,+IN+46901/@40.483662,-86.1512431,15z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x881485d71bf837fb:0x787e7d642fd105a9!2m2!1d-86.1265951!2d40.48527!1m5!1m1!1s0x8814841f9d34240d:0x949a0966f7818d43!2m2!1d-86.156797!2d40.486466!3e0">
                <img src="/safety/kokomo.png" class="card-img-top" width="305" height="210" />
                <div class="card-body">
                    <h4 class="card-title">Indiana Championship</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" href="https://www.google.com/maps/dir/Ford+Field,+2000+Brush+St,+Detroit,+MI+48226/Detroit+Receiving+Hospital,+Saint+Antoine+Street,+Detroit,+MI/@42.3477247,-83.0576606,15z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x883b2d2d6742e0b7:0xd4923792afe689b6!2m2!1d-83.045603!2d42.3400064!1m5!1m1!1s0x8824d2c6fa4d819b:0x842e4c3611c9d3f1!2m2!1d-83.0549157!2d42.3534609!3e0">
                <img src="/safety/worlds.png" class="card-img-top" width="305" height="210" />
                <div class="card-body">
                    <h4 class="card-title">FIRST Championship (Detroit)</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Other Usefull Components</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><a href="ttps://www.firstinspires.org/sites/default/files/uploads/resource_library/frc/team-resources/safety/2019/2019-first-robotics-competition-safety-manual.pdf">FIRST Safety Manual</a>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><a href="https://docs.google.com/document/d/1_DhcJEt1F2vKGaw6AJH9XX6nS4VmX1-OHDYNFYYioLU/edit?usp=sharing" target="_blank">Our Safety Test</a></h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><a href="/safety_sds">SDS Forms</a></h4>
                </div> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">About BackOffice</h4>
                    <p>BackOffice is a platform for our team to stay organized and to help our members keep track of their progress in fulfilling their duties towards the team. This platform also helps us organize and assign responsibilities within the team and keep track of who is certified to carry out certain tasks. Various badges are assigned to different members for fulfilling certain requirements and/or being verified to use specific equipment in the shop. Our master catalog of badges include:</p>
                    <ul>
                        <li>Active Member: Members who maintain a good attendance for meetings</li>
                        <li>                Inactive Member: Members who do not meet the minimum attendance requirement</li>
                        <li>                Reasonable Attendance: Have been attending meetings a reasonable amount during both the off-season and build-season</li>
                        <li>                New Member: Assigned to new members of the team</li>
                        <li>Certified Safe: Successfully passed the Shop Safety Test and are certified to work in the shop</li>
                        <li>                Competition Test: Assigned to those have passed a required test about basic knowledge of our team in order to be eligible to go to competitions</li>
                        <li>                General Inventor: Participated in a general overview of inventor</li>
                        <li>                Design 1-3: Have proven proficiency in inventor on solid models, sheet metal parts, and assemblies respectively.</li>
                        <li>                Mechanical Level 1:Knows the location and how to use hand tools and the location of materials.</li>
                        <li>                Mechanical Level 2: Can identify and operate power tools</li>
                        <li>                Mill: Have been shown how to and can operate the mill</li>
                        <li>                Lathe: Have been shown how to and can operate the lathe</li>
                        <li>                Electrical: Assigned to those who know how to wire a robot</li>
                        <li>                Pneumatics: Understands how pneumatics work and can plumb and FRC robot</li>
                        <li>                FIRST Youth Registration: Completed FIRST Registration</li>
                        <li>                FRC Team Dues: Paid off the required $300 towards the team</li>
                        <li>                Outreach Requirement: Completed the required 11 hours of outreach hours</li>
                        <li>                Parent Contact Information: Have given the email and phone number of a parent or guardian</li>
                    Pit Approved: Have been approved to stay in the pit during the competition and are qualified to talk to judges and members of other teams
                    Travel Team: Has all of the requirements needed to travel with the team, which include Reasonable Attendance, Outreach Requirement, Parent Contact Information, FIRST Youth Registration, and FRC Team Dues.
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Basic Shop Safety Tips</h4>
                    <p>Here are some basic safety tips one should always follow when working in the shop:</p>
                    <ul>
                        <li>Always wear safety glasses</li>
                        <li> Always wear closed-toe shoes, such as tennis shoes, in the shop</li>
                        <li>Never wear gloves when handling any moving machinery</li>
                        <li>Always pay full attention to your task on hand, not doing so can result in serious injury for you or those around you</li>
                        <li>Never wear loose clothing or jewelry and always tie back long hair</li>
                        <li>Never eat or drink anything while working in the shop</li>
                        <li>AND never forget to use common sense</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Outreach for Safety</h4>
                    <p>Safety has also been an important part of outreach, as it has been one of the main subjects stressed in our curriculum when teaching the kids in out community</p>
                    <ul>
                        <li>Girls Coders Workshop</li>
                        <ul>
                            <li>Our girls coding workshop focused mainly on cybersecurity in order for the attending girl scouts to learn how to be safe on the internet and how networks keep us safe. The workshop focused on teaching things like password strength, communication, and computer networks. </li>
                        </ul>
                        <li>Boy Scouts Workshop</li>
                        <ul>
                            <li>In the boy scout workshop we discuss the hazards that are present in the shop as well as how to respond to injuries. Along with discussing the hazards we also address how to treat injuries with basic first aid knowledge.</li>
                        </ul>
                        <li>Teach safety to all of our FTC teams</li>
                        <ul>
                            <li>Due to our FTC teams sharing our workspace, we make sure that they pass all of the safety certifications that our FRC members are required to pass.</li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
$('.card').each((i, obj) => {
        console.log($(obj).attr('href'));
        if($(obj).attr('href') != undefined){
            $(obj).click(() => {
                window.open($(obj).attr('href'), '_blank');
            });
        }
    });
    </script>
</div>
