<div class="container-fluid">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Team History</h4>
			</div>
			<div class="row">	
			<div class="col-2">
			<div class="alert scroll">
					<ul class="nav nav-tabs card-header-tabs flex-column" id="teamHistoryTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="2017-tab" href="#2017" role="tab" aria-controls="2017" aria-selected="true">2017 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id=2016-tab" href=#2016" role="tab" aria-control="2016" aria-selected="false">2016 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id=2015-tab" href=#2015" role="tab" aria-control="2015" aria-selected="false">2015 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id=2014-tab" href=#2014" role="tab" aria-control="2014" aria-selected="false">2014 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id=2013-tab" href=#2013" role="tab" aria-control="2013" aria-selected="false">2013 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id=2012-tab" href=#2012" role="tab" aria-control="2012" aria-selected="false">2012 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id=2011-tab" href=#2011" role="tab" aria-control="2011" aria-selected="false">2011 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id=2010-tab" href=#2010" role="tab" aria-control="2010" aria-selected="false">2010 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id=2009-tab" href=#2009" role="tab" aria-control="2009" aria-selected="false">2009 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id=2008-tab" href=#2008" role="tab" aria-control="2008" aria-selected="false">2008 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id=2007-tab" href=#2007" role="tab" aria-control="2007" aria-selected="false">2007 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id=2006-tab" href=#2006" role="tab" aria-control="2006" aria-selected="false">2006 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id=2005-tab" href=#2005" role="tab" aria-control="2005" aria-selected="false">2005 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id=2004-tab" href=#2004" role="tab" aria-control="2004" aria-selected="false">2004 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id=2003-tab" href=#2003" role="tab" aria-control="2003" aria-selected="false">2003 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id=2002-tab" href=#2002" role="tab" aria-control="2002" aria-selected="false">2002 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id=2001-tab" href=#2001" role="tab" aria-control="2001" aria-selected="false">2001 Season</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id=2000-tab" href=#2000" role="tab" aria-control="2000" aria-selected="false">2000 Season</a>
						</li>
					</ul>
					</div>
					</div>
				<div class="col-8">
					<div class="tab-content" id="teamHistoryContent" role="tablist">
						<div class="tab-pane fade show active align-items-center" id="2017" aria-labelledby="2017-tab">
							<h4 class="card-title">2017</h4>
								<div class="col-9">
								<p class="card-text">
									Our 18th season we got to compete in FIRST Steamworks! Rowdy 18 charged full steam ahead as we were the 3rd seeded alliance captain and won the Gracious Professionalism Award at the Tippecanoe District. We also were the 8th seeded alliance captain at the St. Joseph District. The season culminated with our qualification for state.
								</p>
								</div>
								<div class="col-3">
								<img src="" alt="">
								</div>
						</div>
					</div>
				</div>
