/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

img {
	max-width: 100%;
}
.image-height-fix img{
	height: 80px;
	margin: auto;
	display: block;
	}

header {
	a {
		font-size: 1.3em;
		font: roboto;
	}
}
.container {
	max-width: 1650px;
}
body {
	background-image: url('alu.png');
	font: roboto;
}
#content {
	margin-top: 100px;
	margin-bottom: 25px;
}
.card {
	border-style: solid;
	border-width: 3px;
	border-color: #6f6f6f;
}
.nav-link {
    color: rgba(0,0,0,.9);
}
.collageRow {
	padding: 0px;
}

.collageColumn {
	padding: 8px;
}
.scroll {
	height: 500px;
	overflow-y: scroll;
}
.subteamImage:hover {
	opacity: 0.75;
}
.subteamImageHolder {
	background-color: #ca292b;
}
.team-pic-height{
flex-direction: column;
display:flex;
}
.collageTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
	pointer-events: none;
	color: black;
	text-align: center;
}
#sponsorAccordion {
border: 0px;
}

.carousel-pic-fix {
	height: 400px;
}
.imgsize {
width:100%;
height:50%;
}
.btn-features {
background-color: #e7c424;
border-color: #e7c424;
font:roboto;
font-size:1.7 em;
font-color: #e7c424;

}
.btn-features2{
background-color:#cd332e;
border-color:#cd332e;
font:roboto;
font-size:1.7 em;
font-color: #e7c424;
}
.btn:hover {
    background-color: transparent;
    font-color: #e7c424;
    font:roboto;
    font-size:1.7 em;
    border-color: #e7c424;
}
.btn2:hover{
background-color:transparent;
font-color:#e7c424;
font:roboto;
font-size:1.7 em; 
border-color:#cd332e;
}
.logoheight{
height:96;
}
