<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="row collageRow">
				<div class="col-md-6 collageColumn">
					<div class="subteamImageHolder">
						<img class="s-block w-100 subteamImage" src="https://placekitten.com/g/300/300" alt="subteamImage1">
					</div>
				</div>
				<div class="col-md-6 collageColumn">
					<div class="subteamImageHolder">
						<img class="d-block w-100 subteamImage" src="https://placekitten.com/g/300/300" alt="subteamImage2"> 
					</div>
				</div>
			</div>
			<div class="row collageRow">
				<div class="col-md-6 collageColumn">
					<div class="subteamImageHolder">
						<img class="d-block w-100 subteamImage" src="https://placekitten.com/g/300/300" alt="subteamImage3">
					</div>
				</div>
				<div class="col-md-6 collageColumn">
					<div class="subteamImageHolder">
						<img class="d-block w-100 subteamImage" src="https://placekitten.com/g/300/300" alt="subteamImage4"> 
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">

		</div>
	</div>
</div>

