<div class="container-fluid">
	<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Subteams</h4>
				<p class="card-text">
					In FIRST®, it is common to split the team into subteams to get tasks done more efficiently. Our subteams include Tech, Outreach and Initiatives, Programming, and Media. Each subteam is vitally important to the functioning of the team.
				</p>
			</div>
		</div>
	</div>
	</div>
	</br>
	
	<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Tech</h4>
				<p class="card-text">
						The tech subteam is responsible for the mechanical design and fabrication of the robot and other projects that go on throughout the year. This subteam also handles the electronics and control systems for the robot and provides relevant information to the programming subteam. Students on our tech subteam learn the skills of design, fabrication, and trouble shooting, while also learning the value of communication and teamwork. The head of tech is Edith Schluttenhofer.
				</p>
			</div>
		
		</div>
	</div>
	</div>
	</br>
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<img  class="imgsize"src="/assets/people.jpg" alt="">
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="imgsize" src="/assets/builds.jpg" alt="">
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="imgsize" src="/assets/techpic3.jpg" alt="">
			</div>
		</div>
	</div>
	</br>
	<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h4>Outreach</h4>
				<p>The outreach team is responsible for organizing events to promote STEM in our community, manage social media presence, and maintain partnerships with other FIRST teams. This team also works on fundraising and is in charge of most awards and grant submissions. Students on our outreach subteam learn how to write, interact on social media, and communicate with professionalism and poise. Outreach makes our former award submissions and plans for outreach events available under the resources heading. The head of outreach is Daphne Fauber.</p>
			</div>
		</div>
	</div>
	</div>
	</br>
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<img class="imgsize"  src="/assets/outreach1.jpg" alt="">
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="imgsize" src="/assets/scouts15s.jpg" alt="">
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="imgsize" src="/assets/fll2017.jpg" alt="">
			</div>
		</div>
	</div>
	</br>
	<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Programming</h4>
				<p>
				The Programming Subteam is responsible for programming the robot and website, as well as creating other software to benefit the team and the community. Subteam members learn C++, HTMl, CSS, JavaScript, and Ruby, as well as the skills of team work and communication. Recently the programming subteam has developed scouting software and has made it available on GitHub for the benefit of other FRC teams. The head of robot programming is Hank Krutulis and the heads of website programming are Henry Roberts and Mick Jenkins.
				</p>
			</div>
		</div>
	</div>
	</div>
</br>
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<img class="imgsize" src="/assets/programmingpic1.jpg" alt="">
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="imgsize" src="/assets/programers.jpg" alt="">
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="imgsize" src="/assets/brad1.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Media</h4>
				<p>
				The media subteam is responsible for team documentation through pictures and videos, along with creating and maintaining team graphics. The media team is also responsible for creating the yearly animation, Chairmans video, and end of the year video. They also maintain a team branding guide. Members of the subteam learn graphic design, photoshop, and various AV skills. The head of the animation subteam is Pablo Romero"
				</p>
			</div>
		</div>
	</div>
	</div>
	<div class="row">
	<div class="col-md-4">
		<div class="card">
			<img class="imgsize" src="/assets/media1.jpg" alt="">
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<img class="imgsize" src="/assets/outreach.jpg" alt="">
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<img class="imgsize" src="/assets/media3.png" alt="">
		</div>
	</div>
	</div>
</div>

				

