<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="row collageRow">
				<div class="col-md-6 collageColumn">
					<div class="subteamImageHolder">
						<a href="subteams/tech">
							<img class="s-block w-100 subteamImage" src="https://placekitten.com/g/300/300" alt="subteamImageTech">
							<h1 class="collageTitle">Tech</h1>
						</a>
					</div>
				</div>
				<div class="col-md-6 collageColumn">
					<div class="subteamImageHolder">
						<a href="subteams/oi">
							<img class="d-block w-100 subteamImage" src="https://placekitten.com/g/300/300" alt="subteamImageOI">
							<h1 class="collageTitle">Outreach and Initiative</h1>
						</a>	
					</div>
				</div>
			</div>
			<div class="row collageRow">
				<div class="col-md-6 collageColumn">
					<div class="subteamImageHolder">
						<a href="subteams/prog">
							<img class="d-block w-100 subteamImage" src="https://placekitten.com/g/300/300" alt="subteamImageProg">
							<h1 class="collageTitle">Programming</h1>
						</a>
					</div>
				</div>
				<div class="col-md-6 collageColumn">
					<div class="subteamImageHolder">
						<a href="subteams/media">
							<img class="d-block w-100 subteamImage" src="https://placekitten.com/g/300/300" alt="subteamImageMedia">
							<h1 class="collageTitle">Media</h1>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Subteams</h4>
					<p class="card-text">
					In FIRST®, it is common to split the team into subteams to get tasks done more efficiently. Our subteams include Tech, Outreach and Initiatives, Programming, and Media. Each subteam is vitally important to the functioning of the team.
					</p>
				</div>
			</div>

		</div>
	</div>
</div>

