<div class="container-fluid">
	<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Subteams</h4>
				<p class="card-text">
					In FIRST®, it is common to split the team into subteams to get tasks done more efficiently. Our subteams include Tech, Outreach and Initiatives, Programming, and Media. Each subteam is vitally important to the functioning of the team.
				</p>
			</div>
		</div>
	</div>
	</div>
	</br>
	
	<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Tech</h4>
				<p class="card-text">
						The tech subteam is responsible for the mechanical design and fabrication of the robot and other projects that go on throughout the year. This subteam also handles the electronics and control systems for the robot and provides relevant information to the programming subteam.
				</p>
			</div>
		
		</div>
	</div>
	</div>
	</br>
	<div class="row">
		<div class="col-md-8">
			<div class="card">
				<div class="card-body">
					<p class="card-text">STUFF</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img  class="imgsize"src="/assets/people.jpg" alt="">
			</div>
</br>
			<div class="card">
				<img class="imgsize" src="/assets/builds.jpg" alt="">
			</div>
		</div>
	</div>
	</br>
	<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h4>Outreach</h4>
				<p>The outreach team is responsible for organizing events to promote STEM in our community, manage social media presence, and maintain partnerships with other FIRST teams. This team also works on fundraising and is in charge of most awards and grant submissions.</p>
			</div>
		</div>
	</div>
	</div>
	</br>
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<img class="imgsize"  src="/assets/outreach.jpg" alt="">
			</div>
</br>
			<div class="card">
				<img class="imgsize" src="/assets/scouts15s.jpg" alt="">
			</div>
		</div>
		<div class="col-md-8">
			<div class="card">
				<div class="card-body">
					<p class="card-text">
					Stuff... maybe about specific outreach stuff
					</p>
				</div>
			</div>
</br>
			<div class="card">
				<div class="card-body">
					<a class="card-title" href="documents">Outreach Material</a>
				</div>
			</div>
		</div>
	</div>
	</br>
	<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Programming</h4>
			</div>
		</div>
	</div>
	</div>
</br>
	<div class="row">
		<div class="col-md-8">
			<div class="card">
				<div class="card-body">
					<p class="card-text">
					programing stuff
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="imgsize" src="/assets/programers.jpg" alt="">
			</div>
</br>
			<div class="card">
				<img class="imgsize" src="/assets/brad1.jpg" alt="">
			</div>
		</div>
	</div>
</div>

				

