<footer class="navbar navbar-dark bg-dark bottom">
    <div class="d-flex justify-content-around" style="width: 100%;">
            <div class="span-4 text-center">
	   	<a href="http://www.cat.com">
		<%=image_tag "catLogo.png", :class=>"logoheight" %>
		</a>
	    </div>
            <div class="span-4 text-center">
		<a href="http://www.purduefirst.org">
		<%=image_tag "pfpLogo.png", :class=>"logoheight"%>
		</a>
  	    </div>
            <div class="span-4 text-center">
	    	<a href="http://hs.wl.k12.in.us">
		<%=image_tag "wlLogo.png", :class=>"logoheight"%>
		</a>
    	    </div>
    </div>
</footer>
