<footer class="navbar navbar-dark bg-dark bottom">
    <div class="container-fluid">
	<div class="row d-flex justify-content-around">
            <div class="span-4 text-center">
	   	<a href="http://www.cat.com">
		<img src="/assets/catlogowhite.png" height="96">
		</a>
	    </div>
            <div class="span-4 text-center">
		<a href="http://www.purduefirst.org">
		<img src="/assets/PFPlogowhite.png" height="96">
		</a>
  	    </div>
            <div class="span-4 text-center">
	    	<a href="http://hs.wl.k12.in.us">
		<img src="/assets/schoollogowhite.png" height=96>
		</a>
    	    </div>
        </div>
    </div>
</footer>
